:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p { 
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* header */
.header-page {
    border-bottom: 1px solid var(--cornflower);
    
}
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo {
    display: inline-block;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.header-logo-dark {
    color: var(--navy-blue);
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
}

.nav-link.active{
    color: var(--ocean)
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
    
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.nav-link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.contacts-link {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    padding: 24px 0;
}

/* hero */
.hero {
    background: var(--navy-blue);
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url("../images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
    margin: 0 auto;
}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin: 0 auto 48px;
}

.hero-button {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition);
}

.hero-button:hover,
.hero-button:focus {
    transition: var(--transition);
}

/* advantages */
.advantages-wrapper {
    display: flex;
    width: 100%;
    height: 112px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    margin-bottom: 8px;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.advantages-list {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.advantages-item {
    width: calc((100% - 3 * 24px) / 4);
}

.advantages-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* our team */
.team {
    background-color: var(--cloud);
}

.team-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    column-gap: 24px;

}

.team-item {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    background-color: var(--white);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

.team-social-list {
    display: flex;
    column-gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--iris);
    border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--ocean);
}

/* portfolio */
.portfolio-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: var(--white);
}

.portfolio-info {
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 16px;
    transition: var(--transition);
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.portfolio-item:hover .portfolio-info {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    transform: translateY(100%);
    transition: transform var(--transition);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--iris);
    color: var(--cloud);
}

/* footer */
.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-bottom: 16px;
}

.footer-logo-light {
    color:  var(--cloud);
}

.footer-text {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.footer-social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    column-gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ocean);
    border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

.footer-social-media {
    margin-left: 120px;
}

.footer-subscribe {
    margin-left: 80px;
}

.subscribe-text {
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}


/* backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy-blue-modal);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.14), 0 1px 3px 0 rgb(0 0 0 / 0.12), 0 2px 1px 0 rgb(0 0 0 / 0.2);
    background-color: var(--dairy);
    transition: var(--transition);
    padding: 72px 24px;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 0;
    transition: background-color var(--transition), border var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--ocean);
    border: none;
    fill: var(--white);
}

.modal-close-icon {
    transition: fill var(--transition);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 16px;
}

.form-checkbox-link {
    color: var(--green);
}

/* form */

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
}

.form-input {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    width: 100%;
    height: 40px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 24px;
    transition: var(--transition);
}

.review-form-input-wrapper {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    
}

.form-field {
    margin-bottom: 8px;
}

.form-input:focus {
    outline: none;
    border-color: var(--ocean);
}

.form-input:focus+.form-icon {
    fill: var(--ocean);
}

.form-textarea {
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.7;
    padding: 8px 16px;
    letter-spacing: 0.04em;
    background-color: transparent;
    resize: none;
    transition: var(--transition);
}

.form-textarea:focus {
    outline: none;
    border-color: var(--ocean);
}

.form-checkbox-group {
    margin-bottom: 24px;
}

.form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    /* display: flex;
        align-items: center;
        gap: 8px; */
}

.form-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    transition: background-color var(--transition);
    border-radius: 4px;
    margin: 0 auto;
}
.form-submit:hover,
.form-submit:focus {
    background-color: var(--ocean);
}

.form-checkbox-link {
    color: var(--ocean);
    text-decoration: underline;
}

.form-privacy-policy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgb(46 47 66 / 0.4);
    border-radius: 2px;
    transition: background-color var(--transition),
    border var(--transition),
    fill var(--transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.form-checkbox-group input[type="checkbox"]:checked+.form-checkbox-label .form-privacy-policy-span {
    background-color: var(--ocean);
    border: none;
    fill: #F4F4FD;
}